{% load static %}

<div class="menu-wrapper">

<!--     <div class="menu-item-list-container"> -->
<!--         <div class="menu-item"> -->
<!--             <div class="menu-item-icon"> -->
<!--                 <img src="{% static 'frontend/icons/overview.png' %}" alt=""> --> 
<!--             </div> -->
<!--             <div class="menu-item-title"> -->
<!--                 Overview -->
<!--             </div> -->
<!--         </div> -->

<!--         <div class="menu-item"> -->
<!--             <div class="menu-item-icon"> -->
<!--                 <img src="{% static 'frontend/icons/fields.png' %}" alt=""> --> 
<!--             </div> -->
<!--             <div class="menu-item-title"> -->
<!--                 Fields -->
<!--             </div> -->
<!--         </div> -->

<!--         <div class="menu-item"> -->
<!--             <div class="menu-item-icon"> -->
<!--                 <img src="{% static 'frontend/icons/livestock.png' %}" alt=""> --> 
<!--             </div> -->
<!--             <div class="menu-item-title"> -->
<!--                 Livestock -->
<!--             </div> -->
<!--         </div> -->

<!--         <div class="menu-item"> -->
<!--             <div class="menu-item-icon"> -->
<!--                 <img src="{% static 'frontend/icons/machines.png' %}" alt=""> --> 
<!--             </div> -->
<!--             <div class="menu-item-title"> -->
<!--                 Machines -->
<!--             </div> -->
<!--         </div> -->

<!--         <div class="menu-item"> -->
<!--             <div class="menu-item-icon"> -->
<!--                 <img src="{% static 'frontend/icons/inventory.png' %}" alt=""> --> 
<!--             </div> -->
<!--             <div class="menu-item-title"> -->
<!--                 Inventory -->
<!--             </div> -->
<!--         </div> -->

<!--         <div class="menu-item"> -->
<!--             <div class="menu-item-icon"> -->
<!--                 <img src="{% static 'frontend/icons/finances.png' %}" alt=""> --> 
<!--             </div> -->
<!--             <div class="menu-item-title"> -->
<!--                 Finances -->
<!--             </div> -->
<!--         </div> -->

<!--         <div class="menu-item"> -->
<!--             <div class="menu-item-icon"> -->
<!--                 <img src="{% static 'frontend/icons/settings.png' %}" alt=""> --> 
<!--             </div> -->
<!--             <div class="menu-item-title"> -->
<!--                 Settings -->
<!--             </div> -->
<!--         </div> -->
<!--     </div> -->
</div>
